.App {
  max-width: 100vw;
  overflow: hidden;
  display: flex;

  align-items: center;
}

.heading-with-traits::before,
.heading-with-traits::after {
  content: "";
  position: absolute;
  top: 50%;
  height: 0.5px;
  background: black;
  width: 30%;
}

.heading-with-traits::before {
  left: -5px;
}

.heading-with-traits::after {
  right: -5px;
}
